/* HEADER */
#menu-principal {
  height: 10vh;
}

#menu-principal .container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .container .menu nav {
  display: none;
}

#menu-principal .container .menu button path {
  stroke: var(--gray);
}

/* ABOUT */

img {
  width: 100%;
}
