/* HEADER */
#menu-principal {
  height: 10vh;
}

#menu-principal .container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .container .menu nav {
  display: none;
}

#menu-principal .container .menu button path {
  stroke: var(--gray);
}

/* ABOUT */
.sobre h2 {
  color: var(--black);

  font-size: 3.2rem;
  font-weight: 600;

  padding-block: 2.4rem;
}

.sobre p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}

.sobre a {
  background: var(--red);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.2rem;
  padding: 1rem 4rem;

  border-radius: 0.6rem;

  color: var(--white);

  text-decoration: none;
}

.sobre .col-b {
  display: none;
}

/* FORMA TRADICIONAL */
.forma-tracional {
  text-align: center;
}

.forma-tracional .container {
  display: flex;
  flex-wrap: wrap;
}

.forma-tracional .col-b h2 {
  padding-top: 5.2rem;

  font-size: 2.4rem;
  font-weight: 600;

  color: var(--black);
}

.forma-tracional .col-b p {
  padding-block: 2.4rem;
  color: var(--gray);
}

.forma-tracional .col-b a {
  color: var(--red);
}

/* MAIS POPULARES */
.mais-populares {
  text-align: center;
}

.mais-populares h2 {
  margin-bottom: 8rem;
}

.mais-populares .content-row {
  display: flex;
  flex-wrap: wrap;

  gap: 8rem;
}

.mais-populares .content-row article {
  background: var(--white-200);
  border-radius: 0.8rem;
  padding-block: 1.5rem;
}

.mais-populares .content-row article img {
  width: 50%;
  margin-top: -6rem;
}

.mais-populares .content-row article h3 {
  color: var(--black);
  padding-block: 0.6rem;
}

.mais-populares .content-row article p {
  color: var(--gray);
  font-size: 1.6rem;
}

.mais-populares .content-row article span {
  font-size: 3.2rem;
  font-weight: 400;
  padding-block: 1.3rem;
}

/* COMENTÁRIOS */
.comments {
  text-align: center;
}

.comments h2 {
  margin-bottom: 4rem;
}

.comments .content-row {
  display: flex;
  flex-wrap: wrap;

  gap: 2.8rem;
}

.comments .content-row article {
  background: var(--white-200);
  border-radius: 0.8rem;
}

.comments .content-row article img {
  width: 60px;
  padding-block: 2rem;
}

.comments .content-row article h3 {
  font-size: 1.8rem;
  color: var(--black);
  padding-block: 1rem;
}

.comments .content-row article p {
  color: var(--gray);
}

.comments .content-row article .estrelas {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.comments .content-row article .estrelas img {
  width: 2rem;
}

/* LOCATIONS */
.locations {
  text-align: center;
}

.locations h2 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: var(--black);
}

.locations iframe {
  border-radius: 0.8rem;
}

.locations form {
  display: flex;
  justify-content: space-between;

  height: 4rem;
  border-radius: 1rem;

  margin-top: 3.2rem;
}

.locations form button {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.locations form button svg {
  width: 20px;
}

.locations form input {
  width: 75%;
  border: 1px solid var(--gray);
  border-right: 0;
  border-left: 0;
}

.locations form button[type="submit"] {
  background: var(--red);
  width: 20%;
  border-radius: 0px 1rem 1rem 0px;
  border: 1px solid var(--red);
}

footer {
  padding-bottom: 4rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}

footer .container .item-logo {
  width: 100%;
}

footer .item h2 {
  font-size: 1.6rem;
  font-weight: 400;

  margin-bottom: 1rem;
  color: var(--black);
}

footer .item:nth-child(2),
footer .item:nth-child(3) {
  width: 46%;
}

footer .item ul li,
footer .item ul li a {
  font-size: 1.4rem;
  color: var(--gray);
  text-decoration: none;
}

img {
  width: 100%;
}

@media (min-width: 1024px) {
  #menu-principal {
    height: 15vh;
  }

  #menu-principal .container .logo {
    width: 10%;
  }

  #menu-principal .container .menu {
    width: 90%;
    height: 100%;
  }

  #menu-principal .container .menu nav {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
  }

  #menu-principal .container .menu nav a {
    color: var(--gray);
  }

  #menu-principal .container .menu nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }

  #menu-principal .container .menu nav a#entrar {
    color: var(--black);

    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--gray);
    border-radius: 0.6rem;
    text-decoration: none;

    box-sizing: border-box;
    height: 5vh;
  }

  #btn-mobile {
    display: none;
  }

  /* SOBRE */
  .sobre {
    padding-block: 4rem;
  }

  .sobre .container {
    display: flex;

    align-items: center;
    gap: 4rem;
  }

  .sobre .container .col-a,
  .sobre .container .col-b {
    width: 50%;
  }

  .sobre .container .col-b {
    display: flex;
    justify-content: flex-end;
  }

  .sobre .container .col-b img {
    width: 80%;
  }

  .sobre h2 {
    font-size: 4.8rem;
  }

  .sobre a {
    width: 19.2rem;
  }

  /* FORMA TRADICIONAL */
  .forma-tracional .container {
    flex-wrap: nowrap;
    gap: 8rem;
  }

  .forma-tracional .container .col-a,
  .forma-tracional .container .col-b {
    width: 50%;
  }

  .forma-tracional .container .col-b {
    text-align: left;
  }

  .forma-tracional .col-b h2 {
    font-size: 4.8rem;
    color: var(--black);
    padding-top: 1.5rem;
  }

  /* MAIS POPULARES */
  .mais-populares h2 {
    color: var(--black);
    font-size: 4.8rem;
  }

  .mais-populares .content-row {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 10.4rem;
  }

  /* COMENTÁRIOS */
  .comments h2 {
    text-align: left;
    font-size: 4.8rem;
  }

  .comments .content-row {
    flex-wrap: nowrap;
  }

  .comments .content-row article {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    padding-inline: 3rem;
  }

  .comments .content-row article .estrelas {
    margin: auto 0;
  }

  /* LOCATIONS */
  .locations h2 {
    text-align: left;
    font-size: 4.8rem;
  }

  .locations iframe {
    height: 40rem;
  }

  .locations form {
    width: 50%;
    margin: 3rem auto;
  }

  /* FOOTER */
  footer {
    padding-bottom: 10rem;
  }
  footer .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  footer .container .item-logo {
    width: 30%;
  }
}
