/* HEADER */
#menu-principal {
  height: 10vh;
}

#menu-principal .container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .container .menu nav {
  display: none;
}

#menu-principal .container .menu button path {
  stroke: var(--gray);
}

/* ABOUT */
.sobre h2 {
  color: var(--black);

  font-size: 3.2rem;
  font-weight: 600;

  padding-block: 2.4rem;
}

.sobre p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}

.sobre a {
  background: var(--red);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.2rem;
  padding: 1rem 4rem;

  border-radius: 0.6rem;

  color: var(--white);

  text-decoration: none;
}

.sobre .col-b {
  display: none;
}
img {
  width: 100%;
}
