/* === GERAL ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #da2535;
  --black: #292929;
  --gray: #616161;
  --white: #fbfbfb;
  --white-200: #f3f3f3;

  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Poppins;
  font-size: 1.6rem;

  overflow: overlay;
  background: var(--white);
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    width: 65%;
  }
}

#content {
  padding-block: 5.2rem;
}

button {
  background: none;
  border: 0;
}

/* Tratando do Título */
.logo h1 {
  font-size: 1.8rem;
  color: var(--black);
}

.logo h1 span {
  color: var(--red);
}

a {
  text-decoration: none;
}
